# Database host (e.g. localhost)
HOST_DATABASE=you_host

# Database port (e.g. 5432)
PORT_DATABASE=you_port

# Database user
USER_DATABASE=you_user

# Database password
PASSWORD_DATABASE=you_password

# Database name
NAME_DATABASE=you_name

# URL Database
URL_DATABASE=you_url

